body {
    font-size: 26px;
    background-color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    padding: 30px;
    display: inline;
}

p {
    text-indent: 60px;
}

p.Titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 96px;
    text-align: center;
    text-decoration: underline;
}

p.Texto{
    color: black;
    text-align: justify;
}

img {
    height: 250px;
    width: 250px;
    border: 5px solid #1b1717;
}