#universidad-button {
    display: inline-block;
    width:15%;
    position: fixed;
    bottom:1%;
    left:2%;

    z-index: 1;

    user-select: none;
}

#barraObj {
    background-color: rgb(211, 211, 211, 0.5);
    display: inline-block;
    position: fixed;
    bottom: 5%;
    left: 25%;
    right:25%;
    width: 50%;

    z-index: 1;

    border-radius:70px;
    border-bottom: 5px solid #1a1818;
    border-top: 5px solid #1a1818;
    border-left: 5px solid #1a1818;
    border-right: 5px solid #1a1818;

    text-align: center;

    user-select: none;
}

#info-button {
    display: inline-block;
    width:15%;
    position: fixed;
    bottom:1%;
    right:1.5%;

    z-index: 1;

    user-select: none;
}
