@import url('https://fonts.cdnfonts.com/css/iniya');

body {
    margin-left: 5%;
    margin-right: 5%;

    border: 1px solid #1b1717;

    font-size: 24px;
    /*background-color: #FFF;*/
    background-image: url("../imagenes/tela.jpg");
    box-shadow: 5px 5px 50px 20px;
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Iniya', sans-serif;
    font-weight: bolder;
}

div.Epigrafe {
    color: white;
    text-shadow: 3px 3px #333;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
}

ul {
    font-size: 2.75vw;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 4px 3px black;
    list-style: square;
    color:white;
    text-align: justify;
}

li {
    margin-bottom: 20px;
}

.Titulo {
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 3px 3px #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 14vw;
    text-align: center;
    text-decoration: underline;
}

.Subtitulo {
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 3px 3px #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 4vw;
    text-align: center;
    /*text-decoration: underline;*/
}

.Recreacion {
    display: none;
}

.Recreacion2::before {
    content: "IMAGEN REAL";
}

.Texto {
    margin-left: 3%;
    margin-right: 3%;
    color:white;
    font-size: 5vw;
    text-shadow: 4px 3px black;
    text-indent: 60px;
    text-align: justify;
}

img {
    margin: 3px auto;
    display:block;
    border: 10px solid #555;
    float:none;
}

video {
    height: auto;
    margin: 0 auto;
    display: block;
    border: 8px solid #1b1717;
}

model-viewer {
    background-color: white;
    width: 95%;
    height: 75%;
    margin:auto;
    border: 10px solid #555;
    display:none;
}

.button {
    position:fixed;
    top:1%;
    right:1%;
    justify-content: center;

    z-index: 1;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;

}

.botonMenu {
    color: black; 
    border: 8px solid black;
  }
  
.botonMenu:hover {
    background-color: #b92323;
}

#volver {
    background-image:url('../imagenes/backButton2.png');
    background-repeat:no-repeat;
    background-size: 100%;
    height:60px;
    width:60px;
    border: 0px;
    background-position:center;
}

@media only screen and (min-width: 730px) {
    .Texto {font-size: 3vw;}
    .Recreacion {display: block;}
    .Recreacion2::after {content:" Y RECREACIÓN 3D"}
    model-viewer{display:block;}
    img {margin-left: 5%;margin-right: 5%;float:left}
}
