body {
    font-size: 26px;
    background-color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    padding: 30px;

    display: flex;
    justify-content: center;
}

ul {
    list-style: square;
    color: #006161;
    text-align: justify;
}

li {
    margin-bottom: 20px;
}

p.Titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-size: 82px;
    text-align: center;
    text-decoration: underline;
}

p.Subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-size: 54px;
    text-align: center;
    text-decoration: underline;
}

p.Texto {
    color: black;
    text-indent: 60px;
    text-align: justify;
}

img {

    height: 250px;
    width: 250px;
    margin: 5px;
}