div.barraObj {
    background-color: rgb(211, 211, 211, 0.5);
    position: fixed;
    bottom:0;
    width: 50%;
    height: 50px;
    margin-left: 23%;
    margin-bottom: 5%;
    z-index: 1;
    border-radius:70px;
    border-bottom: 5px solid #1a1818;
    border-top: 5px solid #1a1818;
    border-left: 5px solid #1a1818;
    border-right: 5px solid #1a1818;
    text-align: center;
}