#universidad-button {
    display: inline-block;
    width:15%;
    position: fixed;
    bottom:1%;
    left:2%;

    z-index: 1;

    user-select: none;
}

#barraObj {
    background-color: rgb(211, 211, 211, 0.5);
    display: inline-block;
    position: fixed;
    bottom: 5%;
    left: 25%;
    right:25%;
    width: 50%;

    z-index: 1;

    border-radius:70px;
    border-bottom: 5px solid #1a1818;
    border-top: 5px solid #1a1818;
    border-left: 5px solid #1a1818;
    border-right: 5px solid #1a1818;

    text-align: center;

    user-select: none;
}

#info-button {
    display: inline-block;
    width:15%;
    position: fixed;
    bottom:1%;
    right:1.5%;

    z-index: 1;

    user-select: none;
}

.button {
    position:fixed;
    top:1%;
    right:1%;

    z-index: 1;

    border: none;
    color: white;
    padding: 1.5% 1.5%;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;

}

.botonMenu {
    color: black; 
    border: 8px solid black;
  }
  
.botonMenu:hover {
    background-color: #b92323;
}

#volver {
    background-image:url('../imagenes/backButton2.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
    height:60px;
    width:60px;
    background-position:center;
    padding: 0px;
}
