html {
    background-image: url("../imagenes/papel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(123%);
}

body {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    position:fixed;
    top:1%;
    right:1%;
    justify-content: center;

    z-index: 1;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;

}

.botonMenu {
    color: black; 
    border: 8px solid black;
  }
  
.botonMenu:hover {
    background-color: #b92323;
}

#volver {
    background-image:url('../imagenes/backButton2.png');
    background-repeat:no-repeat;
    background-size: 100%;
    height:60px;
    width:60px;
    border: 0px;
    background-position:center;
}

ul {
    font-size: 2vw;
    margin-left: 5%;
    margin-right: 5%;
    list-style: square;
    color: black;
    text-align: justify;
}

li {
    margin-bottom: 20px;
}

p.Titulo {
    text-shadow: 5px 5px #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 7vw;
    text-align: center;
    text-decoration: underline;
}

.Texto {
    margin-left: 3%;
    margin-right: 3%;
    color: black;
    font-size: 2vw;
    text-indent: 60px;
    text-align: justify;
}
